<!-- this is the markup for an individual message. The data for the message itself is passed in
to the partial explicitly in the render statement by the view which rendered it, this
partial then has access to the message object inside the erb tags which are used to display its data -->
<div class="message">
  <div class="meta-data">
    <div class="gravatar">
      <%= gravatar_link(message.author) %>
    </div>
    <div>
      To: <!-- <<<use the rails link_to helper to create a link to the message owners profile with their name as the link text make sure to put it in proper erb tags>>> -->
    </div>
    <div class="info">
      <p>From: <!-- <<<use the rails link_to helper to create a link to the message authors profile with their name as the link text make sure to put it in proper erb tags>>> --> %></p>
      <p><%= message.created_at.to_datetime.to_s(:easy) %></p>
    </div>
  </div>
  <div class="message-body">
    <!-- <<<output the messages body here. Dont forget to put this in the proper erb tags>>> -->
  </div>
</div>