<!-- ********************************************************************
Description: the message partial (displays a single message)
Routing info: <%#= render partial 'messages/message'%> will render this partial

This partial is designed to be rendered for each message in a collection of messages

by passing ", collection: messages" to the render partial piece above we can render this once for each message in an array assigned to the variable messages.

Each time this is rendered, the current message will be availble under the variable "message"
******************************************************************** -->
<div class="message">
  <div class="meta-data">
    <div class="gravatar">
      <%= gravatar_link(message.author) %>
    </div>
    <div>
      <p>To:
        <!-- <<<use the rails link_to helper to create a link to the message owners profile with their name as the link text. Make sure to put it in proper erb tags>>> -->
      </p>
    </div>
    <div class="info">
      <p>From:
        <!-- <<<use the rails link_to helper to create a link to the message authors profile with their name as the link text. Make sure to put it in proper erb tags>>> -->
      </p>
      <p><%= message.created_at.to_datetime.to_s(:easy) %></p>
    </div>
  </div>
  <div class="message-body">
    <!-- <<<output the messages body here. Dont forget to put this in the proper erb tags>>> -->
  </div>
</div>

<!-- ****************************
hints

checkout
http://mixandgo.com/blog/how-to-use-link_to-in-rails
and
http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html

for help with link-to helpers -->