<h2>
  <%= link_to "Click Here to Create a New User", new_user_path %>
</h2>

<p>or</p>

<h2>Click "Be Me" on an existing user to login as them</h2>

<div class="users-container">
  <div class="user-index">
    <%= render partial: 'users/user', collection: @users %>
  </div>
</div>
