<!-- ********************************************************************
Description: this page instructs the user to sign in or create an account
Routing info: rendered by the new method of the sessionsController
******************************************************************** -->

<h2>
  <p>Go to the views/sessions/new.html.erb and follow the hints to create the functionality on this page. Delete this text when you are finished</p>
  <!-- <<<Use the rails link_to helper to create a link to the page where new users are created. Put some text instructing the user as to what the link does ie "Click here to create a user">>> -->
</h2>

<p>or</p>

<h2>Click "Be Me" on an existing user to login as them</h2>

<div class="users-container">
  <div class="user-index">
    <!-- <<<Render the partial users/_user.html.erb in the for each member of the the collection @users>>> -->
    <!-- check out http://guides.rubyonrails.org/layouts_and_rendering.html#rendering-collections for help with rendering partials with collections -->
  </div>
</div>


<!-- ****************************
hints

checkout
http://mixandgo.com/blog/how-to-use-link_to-in-rails
and
http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html

for help with link-to helpers -->