<h2>
  <p>Go to the views/sessions/new.html.erb and follow the hints to create the functionality on this page. Delete this text when you are finished</p>
  <!-- <<<Use the rails link_to helper to create a link to the page where new users are created. Put some text instructing the user as to what the link does ie "Click here to create a user">>> -->
</h2>

<p>or</p>

<h2>Click "Be Me" on an existing user to login as them</h2>

<div class="users-container">
  <div class="user-index">
    <!-- <<<Render the partial _user partial in the users directory for each member of the the collection @users>>> -->
  </div>
</div>
