<div class="message">
  <div class="meta-data">
    <div class="gravatar">
      <%= gravatar_for(message.author) %>
    </div>
    <div class="info">
      <p><%= message.author.name %></p>
    </div>
  </div>
  <div class="message-body">
    <%= message.body %>
  </div>
</div>