<!-- this is the markup for an individual message. The data for the message itself is passed in
to the partial explicitly in the render statement by the view which rendered it, this
partial then has access to the message object inside the erb tags which are used to display its data -->
<div class="message">
  <div class="meta-data">
    <div class="gravatar">
      <%= gravatar_link(message.author) %>
    </div>
    <div class="info">
      <!-- rails link_to helper syntax : link_to( [link text], [the rails path helper for the url you want to link to] ) -->
      <p><%#= <<<replace with a link_to that displays message.author.name and links to the authors user_path>>> %></p>
      <p><%= message.created_at.to_datetime.to_s(:easy) %></p>
      <!-- this is using the created_at property on message and displaying it with a formatter I made in app/config/initializers/time_formats.rb -->
    </div>
  </div>
  <div class="message-body">
    <%#= <<<Replace with the value of the body property of messsage >>> %>
  </div>
</div>