<!-- this partial renders the signup div on the home page -->
<div class="signup-copy">
  <p>
    Write your marketing hook here! <br> be creative
  </p>
</div>

<%#= <<<render the form for a user and pass the nw_user variable to it >>> %>
<!-- look at other renders for hints -->
