<div class="id-card">
  <div class="avatar">
    <%= gravatar_link(user) %>
  </div>

  <%= link_to user.name, user_path(user), class: "name" %>
  <%= link_to("Be Me", root_url(current_user_id: user), class: "btn btn-primary btn-success") %>
</div>