<!-- this partial is an individual user id card which is displayed on the home page -->
<div class="id-card">
  <div class="avatar">
    <%= gravatar_link(user) %>
  </div>

  <%= link_to user.name, user_path(user), class: "name" %>
  <%= link_to("Be Me", sessions_path(id: user.id), method: "POST", class: "btn btn-primary btn-success") %>
</div>