<div class="hero">
  <div class="hero-text">
    <p>A Special Place Where Fedoras Can Be Free</p>
  </div>
</div>

<%= render 'new' %>

<div class="user-index clear-fix">
  <%= render partial: 'user', collection: @users %>
</div>
<div class="message-index">
  <%= render partial: 'message', collection: @messages %>
</div>