<!-- This is the home page of the app. The root declartion in routes.rb specifies users#index as the root action and this is it's template. It is rendered by the users#index controller method -->

<!-- This page essentially just routes the instance variable to the partials they need to get to via the
render statements and sets up some architectural css.
The render partial for collection syntax means that that partial will be rendered once for every member of that collection -->
<div class="hero">
  <div class="hero-text">
    <p>A Special Place Where Fedoras Can Be Free</p>
    <!-- you can retheme the site here if you want -->
  </div>
</div>
<div class="users-container">
  <div class="signup clearfix">
    <%= render'new', new_user: @new_user %>
  </div>
  <div class="user-index">
    <%#= <<< render the partial for a single user and for each member of the collection @ user>>> %>
  </div>
</div>
<div class="main">
  <div class="message-index">
    <%= render partial: 'message', collection: @messages %>
  </div>
</div>
