<div class="hero">
  <div class="hero-text">
    <p>A Special Place Where Fedoras Can Be Free</p>
  </div>
</div>
<div class="users-container">
  <div class="signup clearfix">
    <%= render 'new' %>
  </div>
  <div class="user-index">
    <%= render partial: 'user', collection: @users %>
  </div>
</div>
<div class="main">
  <div class="message-index">
    <%= render partial: 'message', collection: @messages %>
  </div>
</div>
