<div class="user-show">
  <div class="user-info">
    <div class="gravatar">
      <%= gravatar_for(@owner) %>
    </div>
    <div>
      <ul class="deets">
        <li><%= @owner.name %></li>
      </ul>
    </div>
  </div>
  <div class="messages">
    <div class="new-message">
      <%= render partial: "messages/new", locals: { new_message: @new_message} %>
    </div>
    <div class="message-index">
      <%= render partial: "message", collection: @messages %>
    </div>
  </div>
</div>