<!-- This is an individual user's show page rendered by users#show
it uses <% %> erb syntax to evaluate ruby and display user information
It renders the new message partial which just renders a form and it renders the message
partial once for each member of the @messages collection which is the user's list of messages -->
<div class="user-show">
  <div class="user-info">
    <div class="gravatar">
      <%= gravatar_for(@owner) %>
      <!-- look in application_helper.rb to see how  gravatar for works -->
    </div>
    <div>
      <ul class="deets">
        <li><%#= <<<replace with ruby that will evaluate to the name of @owner >>>>  %></li>
      </ul>
    </div>
  </div>
  <div class="messages">
    <div class="new-message">
      <%= render partial: "messages/form", locals: { new_message: @new_message} %>
    </div>
    <div class="message-index">
      <%#= <<< render the partial for a single message for each member of the @messages from users#show >>> %>
    </div>
  </div>
</div>