<!-- This is an individual users show page rendered by users#show
it uses <% %> erb syntax to evaluate ruby and display user information
It renders the new message partial which just renders a form and it renders the message
partial once for each member of the @messages collection which is the user's list of messages -->
<div class="user-show">
  <div class="user-info">
    <div class="gravatar">
      <%= gravatar_for(@owner) %>
    </div>
    <div>
      <ul class="deets">
        <li><%= @owner.name %></li>
      </ul>
    </div>
  </div>
  <div class="messages">
    <div class="new-message">
      <!-- <<< render the messages/form partial and pass a hash of locals that set message to the @new_message instance variable >>> -->
      <!-- look online at the rails docs for render partial for help with the locals syntax -->
      <!-- It will look something like locals: {x: y} -->
    </div>


    <!-- <<< inside of the correct erb tags  start an if statement which checks if @owner has any messages >>> -->
        <!-- <<< if the do create a div with class message-index and render the partial messages/message for collection @messages inside of it >>> -->

    <!-- <<< create an else for your if block inside erb tags >>> -->
        <!-- <<< create an h1 and inside of it add a message that says that @owner does not have any messages (you will need erb tags t to display @owners name)>>> -->
    <!-- <<< end your if / else statement >>> -->
  </div>
</div>

