<!-- This is an individual users show page rendered by users#show (the show method in the users controller)
it uses <% %> erb syntax to evaluate ruby and display user information
It renders the new message partial which just renders a form and it renders the message
partial once for each member of the @messages collection which is the user's list of messages -->

<p>Go to the views/users/show.html.erb and follow the hints to create the functionality on this page. Delete this text when you are finished</p>

<div class="user-show">
  <div class="user-info">
    <div class="gravatar">
      <%= gravatar_for(@owner) %>
    </div>
    <div>
      <ul class="deets">
        <li><%= @owner.name %></li>
      </ul>
    </div>
  </div>
  <div class="messages">
    <div class="new-message">
      <!-- <<< render the messages/form partial and pass a hash of locals that set message to the @new_message instance variable >>> -->
      <!-- check out http://guides.rubyonrails.org/layouts_and_rendering.html#rendering-collections for help with rendering partials -->
    </div>


    <!-- <<< inside of the correct erb tags  start an if statement which checks if @owner has any messages >>> -->
        <!-- <<< if the do create a div with class message-index and render the partial messages/message for collection @messages inside of it >>> -->

    <!-- <<< create an else for your if block inside erb tags >>> -->
        <!-- <<< create an h1 tag and inside of it add a message that says that @owner does not have any messages (you will need erb tags to display @owners name)>>> -->
    <!-- <<< end your if / else statement >>> -->
  </div>
</div>

