<!-- This is the page rendered by the index method in the home controller(home#index in rails notation)
I choose to render this page from a new controller (not the users or messages controller) because it is not devoted to a single type of resource.
Because it is not purely about displaying users or messages it does not belong in either of those controllers. -->

<div class="container-flex">
  <div class="row-flex">
    <div class="col-xs-4 users-container">
      <h3>
        Visit another User's profile to write them messages and view their feed
      </h3>
      <div class="user-index">
        <%= render partial: 'users/user', collection: @users %>
      </div>
    </div>
    <div class="col-xs-8 messages">
      <h3>Global Feed</h3>
      <%= render partial: "messages/message", collection: @messages %>
    </div>
  </div>
</div>