<!-- ********************************************************************
Description: the home index template
Routing info: Rendered by the index method of the home controller

As noted in the controller comments, because it is not purely about displaying users or messages it does not belong in either of those controllers so we moved this to a new homeController.
******************************************************************** -->


<div class="container-flex">
  <div class="row-flex">
    <div class="col-xs-4 users-container">
      <h3>
        Visit another User's profile to write them messages and view their feed
      </h3>
      <div class="user-index">
        <%= render partial: 'users/user', collection: @users %>
      </div>
    </div>
    <div class="col-xs-8 messages">
      <h3>Global Feed</h3>
      <%= render partial: "messages/message", collection: @messages %>
    </div>
  </div>
</div>
