@import "bootstrap";

.navbar {
  margin-bottom: 0;
  box-shadow: 1px 1px 5px;
  border-radius: 0;
  .navbar-left {
    img {
      height: 60px;
      width: 60px;
      border-radius: 5px;
    }
    .brand-name {
      display: inline-block;
      font-size: 24px;
      line-height: 24px;
    }
  }
  .navbar-right {
    margin-right: 10px !important;

    .current-user {
      .avatar {
        display: block;
        margin: auto;
        height: 40px;
        width: 40px;

        img {
          height: 40px;
          width: 40px;
        }
        .name {
          text-align: center;
        }
      }
    }
    .no-user {
    }
  }
}