@import "bootstrap";

.navbar {
  margin-bottom: 0;
  box-shadow: 1px 1px 5px;
  .navbar-left {
    img {
      height: 60px;
      width: 60px;
      border-radius: 5px;
    }
    .brand-name{
      display: inline-block;
      font-size: 24px;
      line-height: 24px;
    }
  }
}