@import "colors";

.hero {
  width: 100%;
  background: $purple;
  height: 80px;
  box-shadow: 1px 1px 5px;
  float: left;

  .hero-text {
    width: 36%;
    margin: auto;
  
    p {
      margin-top: 20px;
      font-size: 30px;
      color: $blue;
      text-shadow: 1px 1px 5px #111;
    }
  }
}