.user-show {
  display: inline-block;
  .user-info {
    .gravatar {
      margin-top: 10px;
      margin-left: 10px;
    }
    .deets {
      margin-top: 20px;
      padding-left: 20px;
      list-style: none;
    }
  }
  .messages {
    position: absolute;
    left:300px;
    top: 100px;

    .new-message {
      border: 2px solid black;
      width: 650px;

      h1, form {
        padding-left: 20px
      }
      form {
        .field {
          #message_body {
            height: 100px;
            width: 600px;
          }
        }
        .actions {
          input {
            margin: 20px 0;
          }
        }
      }
    }
  }
}