@import "colors";

.hero {
  display: inline-block;
  background: $purple;
  width: 100%;
  height: 80px;
  box-shadow: 1px 1px 5px;

  .hero-text {
    p {
      margin-right: 10px;
      text-align: center;
      margin-top: 20px;
      font-size: 30px;
      color: $blue;
      text-shadow: 1px 1px 5px #111;
    }
  }
}
.users-container {
  // display: inline-block;
  width: 622px;
  border-right: 2px solid black;

  .signup {
    position: relative;
    display: inline-block;
    width: 622px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;

    .signup-copy, .signup-form {
      float: left;
    }
    .signup-copy {

      font-size: 35px;

      p {
        padding: 40px 20px 10px 20px;
      }
    }
    .signup-form {
      margin-left: 20px;
      margin-top: 20px;

      .actions {
        margin-top: 20px;
      }
    }
  }
  .user-index {
    display: inline-block;
    clear: both;
    margin-top: -5px;
    padding-top: 70px;
    padding-left: 20px;
    min-height: 600px;

    .id-card {
      width: 200px;
      height: 200px;
      float: left;

      .avatar {
        margin-left: 17%;
      }

      .name {
        position: absolute;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 50px;
        max-width: 145px;
      }
    }
  }
}
.main {
    position: absolute;
    left: 622px;
    top: 143px;
    bottom: 0;
    width:  60%;
    margin-left: 30px;
    min-height: 800px;
  .message-index {
    margin-top: 40px;

    .message {
      margin-top: 80px;

      .avatar {
        display: inline-block;
      }
      .message-body {
        display: inline-block;
      }
    }
  }
}