<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <%= image_tag "logo.jpg", class: 'logo-pic' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to 'Home', root_url %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>