<!-- ********************************************************************
Description: the header partial
Routing info: <%#= render 'layouts/header' %> will render this partial

This is the application's header which gets rendered inside of
layouts/application.html.erb
******************************************************************** -->



<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <%= link_to (image_tag "logo.jpg"), root_url %>
        <%= link_to "Fedora Space", root_url, class: 'brand-name' %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <div class="current-user">
            <%= @current_user.name %>
            <div class="avatar">
                <!-- <<< make a gravatar_link for @user make sure to put it in the correct erb tags>>> -->
                <!-- look at application_helper.rb to see how it works and search in the app to find examples -->
            </div>
          </div>
          <!-- <<< use the rails link_to helper to create a logout link here >>> -->
        <% else %>
          <div class="no-user">
            <p>Click "Be Me" to sign in as a user</p>
          </div>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
