<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <%= link_to (image_tag "logo.jpg"), root_url %>
        <%= link_to "Fedora Space", root_url, class: 'brand-name' %>
      </ul>

    </div>
  </div>
</nav>
